.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
}
nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem;
}
nav ul li {
  color: var(--text-color);
  position: relative;
  cursor: pointer;
  padding: 5px 35px;
}

nav ul li a {
  text-decoration: none;
  color: inherit; /* inherits li color */
}

nav ul li:hover a {
  color: var(--accent-color);
}

nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

nav ul li:hover::after {
  width: 100%;
}
.logo{
    cursor: pointer;
}
.auth button{
    cursor: pointer;
}


